{% extends "base.html" %}
{% from "snippets/filesearcher.html" import filesearcher, scripts %}
{% from "snippets/navbar.html" import navbar %}

{% block title %}Score Splitting{% endblock %}

{% block navbar %}
    {{ navbar("/split") }}
{% endblock %}

{% block body %}
    <div class="container pt-3">
        {{ filesearcher() }}
        <div class="col-9">

        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{{ url_for("static", filename="messaging.js") }}" defer></script>
    {{ scripts() }}
{% endblock %}